#app {
  display: flex;
  justify-content: center;
}

#carousel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 460px;
  overflow-x: hidden;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
}

#carousel {
  white-space: nowrap;
  transition: all 200ms;
}

.pane {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
