/* Removes arrows from <input type=number /> fields
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  appearance: textfield;
}

/* .slider-wrapper {
  min-height: 600px;
} */
